* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  background-color: #f4f7fa;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.toggleButtonContainer {
  position: relative;
  display: flex;
  gap: 10px;
}

.toggleButtonContainer .toggleButton {
  color: #666;
  width: 50%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  font-size: 16px;
  transition: border-bottom 0.3s ease;
  padding: 2px 0;
}

.toggleButtonContainer .toggleButton:hover {
  color: #000;
}

.toggleButtonContainer .toggleButton.active {
  border-bottom: 2px solid #000;
  color: #000;
}

.toggleButtonContainer .toggleButton:nth-child(1) {
  text-align: left;
}

.toggleButtonContainer .toggleButton:nth-child(2) {
  text-align: right;
}

.title {
  text-align: center;
  font-size: 36px;
}

.filterContainer {
  display: flex;
  gap: 10px;
}

.filterContainer select {
  padding: 6px 2px;
  font-size: 12px;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.filterContainer select:focus {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .toggleButtonContainer {
    gap: 5px;
  }

  .toggleButtonContainer .toggleButton {
    width: 100%;
    font-size: 14px;
  }

  .title {
    font-size: 26px;
  }

  .filterContainer {
    gap: 8px;
  }

  .filterContainer select {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .toggleButtonContainer .toggleButton {
    font-size: 12px;
    padding: 5px 0;
  }

  .title {
    font-size: 20px;
  }

  .filterContainer select {
    font-size: 12px;
    padding: 6px;
  }
}
