#root {
  width: fit-content;
  height: fit-content;
  max-height: 100%;
  position: relative;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  #root {
    padding: 20px 30px;
  }
}

@media (max-width: 480px) {
  #root {
    width: 80%;
    padding: 20px;
  }
}